version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: paypal-demo-postgres
    restart: always
    environment:
      POSTGRES_DB: paymentdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
